EACDMLinqUtiliy/clientData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/Clients.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clients">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DMClients">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Url" type="xs:string" />
              <xs:element name="created" type="xs:dateTime" />
              <xs:element name="modified" type="xs:dateTime" />
              <xs:element minOccurs="0" name="token" type="xs:string" />
              <xs:element name="id" type="xs:int" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>